<h3>#4 To reduce repetition</h3>
<h4>Reduce signal getters calls</h4>
@let rep = response(); @let firstUser = rep.data[0];
<p>Status : {{ rep.status }}</p>
<p>First Data : {{ firstUser.name }} [ {{ firstUser.level }} ]</p>

<h4>Can be combined with class binding</h4>

<div>
  <label for="alert-type">Alert type : </label>
  <select [(ngModel)]="alertClass" name="" id="alert-type">
    <option value="error">Error</option>
    <option value="info">Info</option>
    <option value="warning">Warning</option>
    <option value="success">Success</option>
  </select>
</div>
@let alertKlass = { red: alertClass() === 'error', green: alertClass() ===
'success', orange: alertClass() === 'warning', blue: alertClass() === 'info' };
<div class="alert" [class]="alertKlass">Alert message</div>
