.alert {
  border: 2px solid;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin: 10px 0;
  &.red {
    color: rgb(246, 77, 77);
  }
  &.green {
    color: rgb(64, 172, 64);
  }
  &.blue {
    color: rgb(10, 163, 246);
  }
  &.orange {
    color: rgb(249, 189, 78);
  }
}

select {
  padding: 4px;
}
