:host {
  display: block;
  padding: 120px 20px;
  max-width: 400px;
}
.control-row {
  label {
    display: inline-block;
    margin-right: 8px;
    font-size: 18px;
    width: 85px;
    text-align: right;
  }
  input {
    padding: 5px;
  }
  margin-top: 10px;
}
.action-btns {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  gap: 8px;
  button:not([disabled]) {
    cursor: pointer;
  }
  button:is([disabled]) {
    cursor: not-allowed;
  }
}
